body {
    font-family: 'Arvo', serif;
    background-color: rgb(160, 161, 157);
}

.about-me-photo {
    float: left;
    margin-right: 20px;
}

.portfolio-photos {
    margin: 20px;
    align-content: flex-start;
    width:45%;
    max-width:45%
}
.about-me-container {
    margin-top: 18px;

}